{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% load static %}

{% block content %}
<div class="overlay"></div>
    <div class="login-container email-sent-container">
         <a href="{% url 'index' %}" class="logo"><img width="50" height="50" src="{% static 'images/maison.png' %}"> </a>

        <h2 class="email-sent-title">🔑 Mot de passe réinitialisé</h2>
        <p class="email-sent-message">
            Votre mot de passe a été réinitialisé avec succès. Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.
        </p>
        <a href="{% url 'account_login' %}" class="email-sent-link"></a>
            Retour à la connexion
        </a>
    </div>
{% endblock %}

