{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% load account %}


{% block content %}
<div class="overlay"></div>
    <div class="login-container email-sent-container">
        <a href="{% url 'index' %}" class="logo"><img width="50" height="50" src="{% static 'images/maison.png' %}"> </a>
        <h1 class="login-title">Réinitialiser le mot de passe</h1>
        <h2 class="email-sent-title">📧 Email envoyé</h2>
        <p class="email-sent-message" style="color: white;">
            Si un compte existe avec cet e-mail, vous recevrez un lien pour réinitialiser votre mot de passe.
        </p>
        <a href="{% url 'account_login' %}" class="email-sent-link" style="color: white;">
            Retour à la connexion
        </a>
    </div>
{% endblock %}